* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

header {
    background-color: #131921;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-right: 2px;
}

button {
    padding: 8px 16px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.product {
    width: 220px;
    border: none;
    padding: 10px;
    margin: 10px;
}

.product img {
    display: block;   
    margin: 0 auto;  
    max-width: 100px;   
    height: auto;        
}

.star-rating {
    color: gold; 
    font-size: 16px;
}

#results .rating {
    font-size: 10px; 
}

#results h2 {
    font-size: 15px; 
    font-weight: bold; 

}
